.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.box {
  background-color: red;
  border: 1px solid #ccc;
  display: block;
  height: 10px;
  margin-bottom: 20px;
}

.message-error {
    background-color: red;
    color: white;
    opacity: 0;
    transition: all linear .5s;
}
.message-error.show {
    opacity: 1;
}

.divs {
    margin-bottom: 20px;
}
