<div class="container">
  <h1>Hola, este es mi primer proyecto en Angular</h1>
  <h2>{{ welcomeMessage }}</h2>
  <ul>
    <li *ngFor="let task of taskList">
      {{ task.title }}
    </li>
  </ul>

  <hr>

  <h2>{{ 'Hola'.repeat(4) }}</h2>
  <p>La suma de 3 + 4 es : {{ 3 + 4 }}</p>
  <p>Hola, {{ name }}! Tienes {{ age }} años.</p>

  <hr>

  <img [src]="imgUrl" alt="Imagen de ejemplo"> <br>
  <input type="number" [value]="person().age">
  <button [disabled]="disabled">Click me</button>
  <p>{{ person().name }}, {{ person().age }} años</p>
  <img [src]="person().avatar" alt="Avatar de {{ person().name }}" width="400">

  <hr>

  <button (click)="onButtonClick()">Click me</button> <br>
  <button (dblclick)="onButtonClick()">Click me twice</button>

  <div>
    <p>(change)</p>
    <input type="number" [value]="person().age" (change)="changeHandler($event)">
  </div>

  <div>
    <p>(keydown)</p>
    <input type="text" [value]="person().name" (keydown)="keydownHandler($event)" placeholder="Escribe algo">
    <p>Has escrito: {{ name }}</p>
  </div>

  <div>
    <p>(keydown Shift + T)</p>
    <input type="text" [value]="person().name" (keydown.shift.t)="onButtonClick()">
    <p>Has escrito: {{ name }}</p>
  </div>

  <h1>Signals</h1>
  <p>Hola {{ nameSignal() }}</p>

  <input type="text" [value]="nameSignal()" (change)="changeNameSignalHandler($event)">

  <hr>

  <ul>
    <li *ngFor="let record of recordCollection(); index as i">
      <h3>{{ record.title }}</h3>
      <small>Código índice: {{ i + 1 }}</small>
      <p>Artista: {{ record.artist }}</p>
      <p>Año: {{ record.year }}</p>
      <img [src]="record.cover" [alt]="record.title" width="200">
    </li>
    <p>Total de álbumes: {{ recordCollection().length }}</p>
  </ul>

  <hr>

  <h2>ngIf</h2>
  <div *ngIf="1 !== 1">
    <p>My content</p>
  </div>
  <div *ngIf="nameSignal() === 'Angular'">
    <p>Es Angular</p>
  </div>

  <input type="number" [value]="person().age" (change)="changeAge($event)">
  <div *ngIf="person().name === 'Alex' && person().age >= 18" else elseBlock>
    <p>¡Hola, {{ person().name }}! Tienes {{ person().age }} años.</p>
  </div>

  <ng-template #elseBlock>
    <p>¡Hola, {{ person().name }}! ¡Eres menor de edad!</p>
  </ng-template>

  <h2>ngSwitch</h2>

  <input type="string" [value]="person().name" (change)="changeName($event)">

  <div [ngSwitch]="person().name">
    <p *ngSwitchCase="'Alex'">¡Hola, Alex!</p>
    <p *ngSwitchCase="'Ana'">¡Hola, Ana!</p>
    <p *ngSwitchCase="'Maria'">¡Hola, Maria!</p>
    <p *ngSwitchDefault>¡Hola, desconocido!</p>
  </div>

  <hr>
  <h2>Manejo Avanzado de Formularios Reactivos en Angular</h2>

  <input type="color" [formControl]="colorCtrl">
  <p>color: {{ colorCtrl.value }}</p>
  <svg>
    <g>
      <rect x="0" y="0" width="100" height="100" [attr.fill]="colorCtrl.value" />
    </g>
  </svg>

  <hr>

  <input type="number" [formControl]="widthCtrl">
  <span class="box" [style.width.px]="widthCtrl.value"></span>

  <hr>

  <div class="divs">
    <input type="text" [formControl]="nameCtrl"><br>
    <span class="message-error" [class.show]="nameCtrl.invalid && nameCtrl.touched">Nombre inválido</span>
  </div>

  <div class="divs">
    <input type="text">
  </div>

</div>
